/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeflex/primeflex.css");
@import url("../node_modules/primeng/resources/themes/tailwind-light/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");

* {
    font-family: 'lato', 'arial', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}